# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.24-25.FR.J.S1_SayanMathysGuilhem.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
